# Copy this to .env and set values
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>/<db>?retryWrites=true&w=majority
JWT_SECRET=please-change-me
JWT_EXPIRES_IN=1d
ADMIN_EMAIL=admin@example.com
PORT=5000

